<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/external/bootstrap.min.css">
    <link rel="stylesheet" href="../css/external/uikit.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="./../js/external/uikit.min.js"></script>
    <title>Article</title>
</head>
<body>

    <div class="text-center comp comp2" id="append1article">
      <img src="./img/articles/article1.png">
    </div>
    
    <hr>

    <div class="text-center comp comp2" id="append2article">
      <img src="./img/articles/article2.png">
    </div>
   
    <hr>

    <div class="text-center comp comp2" id="append3article">
      <img src="./img/articles/article3.png">
    </div>

    <script>
        require('./js/articleWindow.js');
    </script>

</body>
</html>