<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cover</title>
    <link rel="stylesheet" href="../css/external/bootstrap.min.css">
    <link rel="stylesheet" href="../css/external/uikit.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="./../js/external/uikit.min.js"></script>
</head>
<body>

    <div class="text-center comp" id="append1cover">
        <img src="./img/covers/cover1.png">
    </div>

    <script>
        require('./js/coverWindow.js');
    </script>

</body>
</html>